{% extends "layouts/base.html" %}

{% block title %} Edit Village {% endblock %}

{% block scriptsJs %}
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
<!-- bootstrapp  -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- datatable -->
<script src="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css"></script>
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js" rel="stylesheet"></script>
<!-- x-editables -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
    rel="stylesheet">
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

{% endblock scriptsJs %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="/static/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/assets/css/adminlte.min.css">

{% endblock stylesheets %}



<!-- Specific Page Content goes HERE  -->
{% block content %}

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Village</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/configuration/village">View Village</a></li>
                        <li class="breadcrumb-item active">Edit Village</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-6">
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Edit Village {{content.name}}</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" action="/configuration/village/update/{{content.id}}">
                                <div class="card-body">
                                    {{form.hidden_tag()}}
                                    <div class="form-group row">
                                        {{form.code.label(class="col-sm-2 col-form-label", for='code')}}
                                        <div class="col-sm-10">
                                            {{form.code(class="form-control from-control-lg",value=content.code
                                            )}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {{form.name.label(class="col-sm-2 col-form-label", for='name')}}
                                        <div class="col-sm-10">
                                            {{form.name(class="form-control from-control-lg",value=content.name
                                            )}}
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            {{form.fokontany.label(class="input-group-text", for='fokontany')}}
                                        </div>
                                        {{form.fokontany(class="custom-select")}}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{form.submit(class='btn btn-info')}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

{% endblock content %}

{% block js_editable %}
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- jQuery -->
<!-- <script src="/static/assets/plugins/jquery/jquery.min.js"></script> -->
<!-- Bootstrap 4 -->
<!-- <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<!-- AdminLTE App -->
<script src="/static/assets/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/assets/js/demo.js"></script>


{% endblock javascripts %}